@model Person


<h2>Yeni Kullanıcı Ekleme</h2>

<form asp-action="Create" method="post">


    <label asp-for="Name" class="control-label"></label>
    <input type="text" class="form-control" asp-for="Name" />

    <label asp-for="Surname" class="control-label"></label>
    <input type="text" class="form-control" asp-for="Surname" />


    <label asp-for="Phone" class="control-label"></label>
    <input type="text" class="form-control" asp-for="Phone" />

    <label asp-for="Address" class="control-label"></label>
    <input type="text" class="form-control" asp-for="Address" />

    <label asp-for="JobId" class="control-label">Meslek Seçin</label>
    <select asp-for="JobId" class="form-control" asp-items="ViewBag.JobId"></select><br />

    <hr />
        <div class="form-group">

            <button type="submit" class="btn btn-success" value="Create">Kaydet</button>

        </div>
</form>